html{
    font-size: 62.5%;
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 3.5em;
    }
    .main--texts{
        #first--span{
            display: inline-block;
            margin: 0.3em 0 1.5em 0;
            font-size: 1.5em;
            font-weight: 700;
        }
    }
    .size--list{
        li{
            font-size: 0.8em;
        }
    }

}
