@import 'mediaQueries';
html{
    //A responsive form to font-size
    font-size: 62.5%;
    @include small--laptop{
        font-size: 52.5%;
    }
    @include tablet{
        font-size: 52.5%;
    }
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 3.2em;
        //Different Title Font-size
        @include small--laptop{
            font-size: 2.5em;
        }
        @include tablet{
            font-size: 1.8em;
        }
        @include small--cellphone{
            font-size: 2.5em;
        }
    }
    .main--texts{
        #first--span{
            display: inline-block;
            margin: 0.3em 0 1.5em 0;
            font-size: 1.5em;
            font-weight: 700;
        }
    }
    .size--list{
        li{
            font-size: 0.8em;
        }
    }

    .span--previous-main{
        transition: font-size 0.25s linear;
        &:hover{
            font-size: 1.2em;
        }
    }
}
