@import 'colors';
header{
    .container.header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .shop--logo{
        background-color: $main--orange;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        height: 80px;
        color: white;
        font-weight: 700;
    }
    nav{
        padding: 1em;
        ul{
            display: flex;
            list-style: none;
            align-items: center;
            .texts--li{
                display: flex;
                margin-right: 5em;
                li{
                    margin-right: 2em;
                    a{
                        color: $strong--black;
                        text-decoration: none;
                        text-transform: uppercase;
                        transition: color 0.3s;
                        &:hover{
                            color:$smooth--black;
                        }
                    }
                }
            }
            .icons--li{
                display: flex;
                div img{
                    margin-right: 6em;
                }
                .bar--menu{
                    margin-left: 1em;
                }
            }
        }
    }   
}