@import 'colors';
@import 'mediaQueries';
header{
    .container.header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @include cellphone{
            padding: 1em 2em;
        }
        @include small--cellphone{
            padding: 1em 2em;
        }
    }
    .shop--logo{
        background-color: $main--orange;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        height: 80px;
        color: white;
        font-weight: 700;
    }
    nav{
        padding: 1em;
        ul{
            display: flex;
            list-style: none;
            align-items: center;
            .texts--li{
                display: flex;
                margin-right: 5em;
                li{
                    margin-right: 2em;
                    a{
                        color: $strong--black;
                        text-decoration: none;
                        text-transform: uppercase;
                        transition: color 0.3s;
                        &:hover{
                            color:$smooth--black;
                        }
                    }
                }
            }
            .icons--li{
                display: flex;
                div img{
                    margin-right: 6em;
                }
                .bar--menu{
                    margin-left: 1em;
                }
            }
        }
    }
    @include small--laptop{
        .header--menu--list{
            .texts--li{
                display: none;
            }
            img[alt="bag shopping"]{
                display: none;
            }
        }
    }

    @include tablet{
        .header--menu--list{
            .texts--li{
                display: none;
            }
            img[alt="bag shopping"]{
                display: none;
            }
        }
    }

    @include cellphone{
        .header--menu--list{
            .texts--li{
                display: none;
            }
            img[alt="bag shopping"]{
                display: none;
            }
        }
    }
    @include small--cellphone{
        .header--menu--list{
            .texts--li{
                display: none;
            }
            img[alt="bag shopping"]{
                display: none;
            }
        }
    }
}